<h1>Message#new</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'form' %>
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
  </div>
</div>
