<h1>Message#show</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    </div>
    <div class="col-xs-12 col-sm-4">
      <p>Title: <%= @message.title %></p>
      <p>Body: <%= @message.body %></p>
      </hr>
      <p>sender: <%= @message.profile.name %></p>
      <p>request: <%= @message.request %></p>
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
  </div>
</div>
