<div class="navbar-kingdom">
  <!-- Logo -->
  <a href="/" class="navbar-kingdom-brand">
    <h1><%= cl_image_tag("KingdomOfArtLong.png") %></h1>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-kingdom-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="" class="navbar-kingdom-search">
      <input type="text" class="navbar-kingdom-search-input" placeholder="Search something">
      <button type="submit" class="navbar-kingdom-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Text link -->
    <a href="" class="navbar-kingdom-item navbar-kingdom-link">Contact</a>

    <!-- Text link -->
    <a href="" class="navbar-kingdom-item navbar-kingdom-link">Team</a>

    <!-- Notification link-->
    <a href="" class="navbar-kingdom-item navbar-kingdom-link">
        <%= link_to profile_requests_path(current_user.profile), class:"navbadge-container" do %>
          <i class="fa fa-envelope-o"></i>
        <% end %>
    </a>

    <!-- Profile picture and dropdown -->
    <div class="navbar-kingdom-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-kingdom-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-kingdom-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>

    <!-- Button (call-to-action) -->
    <a href="" class="navbar-kingdom-item navbar-kingdom-button btn">Post stuff</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-kingdom-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-kingdom-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>










